<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marc.scp.scp" >

    <uses-sdk android:minSdkVersion="11"  />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        >

        <activity
            android:name="marc.scp.scp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="marc.scp.scp.TerminalActivity"
            android:label="@string/title_activity_display_message"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="marc.scp.scp.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.scp.HostList"
            android:label="@string/host_list_message"
            android:parentActivityName="marc.scp.scp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.scp.AddHost"
            android:label="@string/add_host_message"
            android:parentActivityName="marc.scp.scp.HostList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>
    </application>

</manifest>
