<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marc.scp.scp">

    <uses-sdk android:minSdkVersion="15" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="marc.scp.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="marc.scp.activities.TerminalActivity"
            android:label="@string/title_terminal_activity"
            android:parentActivityName="marc.scp.activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.SyncActivity"
            android:label="@string/title_terminal_activity"
            android:parentActivityName="marc.scp.activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.HostList"
            android:label="@string/host_list_message"
            android:parentActivityName="marc.scp.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="marc.scp.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.FingerPrintList"
            android:label="@string/finger_print_title"
            android:parentActivityName="marc.scp.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.FolderPairsList"
            android:label="@string/folder_pairs_title"
            android:parentActivityName="marc.scp.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.AddHost"
            android:label="@string/add_host_message"
            android:parentActivityName="marc.scp.activities.HostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>

        <activity
            android:name="marc.scp.activities.AddFolderPair"
            android:label="@string/add_folder"
            android:parentActivityName="marc.scp.activities.HostList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="marc.scp.scp.MainActivity" />
        </activity>
    </application>

</manifest>
